.App {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.App .header {
  flex-grow: 0;
  flex-basis: auto;
}

.App .content {
  display: flex;
  flex-grow: 1;
  flex-basis: auto;
  justify-content: center;
  align-items: center;
  background: #0F2027;  
  background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  
  background: linear-gradient(to left, #2C5364, #203A43, #0F2027); 
}

.App .footer {
  display: flex;
  justify-content: center;
  padding: 8px;
  flex-grow: 0;
  flex-basis: auto;
  border-top: 1px double white;
  background: #0F2027;  
  background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  
  background: linear-gradient(to left, #2C5364, #203A43, #0F2027); 
  color: #fff;
}